main{
    display: flex;
    position: relative;

    overflow: hidden;
}

.supplier{
    width: 85%;
    position: relative;
    padding: 1rem;
    flex-shrink: 0;
}

.supplier h2{
    font-size: 3rem;
    margin-top: .4rem;
}

.supplier__filter{
    margin-top: 2rem;
}

.supplier__filter h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.supplier__filter .filter_categories{
    width: 35%;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
}

.filter_categories .categories_first_column{
    display: flex;
    justify-content: space-between;

    margin-bottom: .5rem;
}

.filter_categories .categories_second_column{
    display: flex;
    justify-content: space-between;
}

.filter_categories p{
    padding: .5rem;
    background-color: #F2F2F2;
    border-radius: 1rem;
}

.filter_categories .selected{
    background-color: #E2EDFC;
    color: #2273EC;
}

/* Input de busqueda */

.suppliers__search_bar{
    margin-top: 3rem;
    padding-left: 1rem;
    background-color: #FFFFFF;
    width: 35%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.suppliers__search_bar input{
    width: 100%;
    
    height: 20px;
    background-color: #FFFFFF;

    padding: 1.3rem 1rem;

    border-radius: 3px;
    border-style: none;
}

.suppliers__search_bar input::placeholder{
    color: #7A7A7A;
}


/* Estilos de grower profile */

.supplier__list_card{
    position: relative;
    width: 100%;
    max-height: 400px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-top: 3rem;
    

    border-radius: 5px;
    box-shadow: 0 3px 15px  rgb(230, 230, 230);

    background-color: #FFFFFF;
}

.supplier__list_card .card_third_column{
    position: relative;  
}

.card_third_column .product_reference{
    width: 100%;
    border-radius: 0 5px 5px 0;
}

.card_third_column .company_logo{
    /* position: absolute;
    left: 57%; */
    border-radius: 0 5px 0 0;
}


.supplier__list_card .card_second_column{
    position: relative;
    padding: 1rem;
}

.card_second_column h3{
    margin-bottom: 1rem;
}

.card_second_column #certidications{
    margin-top: 3rem;
}

.card_second_column p{
    margin-bottom: .5rem;
}

.card_second_column .card_product{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_second_column .card_certifications{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.card_second_column .card_certifications img{
    max-width: 85px;
}


.supplier__list_card .card_first_column{
    position: relative;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card_first_column a:nth-child(1){
    font-size: 1.875rem;
    font-weight: 600;
    color: rgb(22, 22, 22);;
    text-decoration: none;
}

.card_first_column a:hover{
    text-decoration: underline;
}

.card_first_column p{
    opacity: .6;
}

.card_first_column .card_overview{
    margin-top: 1rem;
    margin-left: 1rem;
}

.card_first_column .card_commodities_badge{
    margin-top: 1rem;
    display: flex;
}

.card_commodities_badge p{
    
    padding: .5rem;
    border-radius: 5px;

    opacity: 1;
    font-weight: 500;

    background-color: #E2EDFC;
}

.card_commodities_badge p:nth-child(2){
    margin-left: 1rem;
}

.card_first_column .card_actions{
    position: relative;
    margin-top: 2rem;
}

.card_actions button{
    background-color: #FFFFFF;
    padding: .5rem 1rem .5rem 1rem;
    border: 3px solid #2273EC;
    border-radius: 5px;

    color: #2273EC;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;

    transition: all .2s ease-in;
}

.card_actions button:hover{
    background-color: #F1F6FE;
}

.card_actions a{
    margin-left: 2rem;
    text-decoration: none;
    font-weight: 600;
    color: #2273EC;
}

.card_actions a:hover{
    text-decoration: underline;
}