main{
    display: flex;
    position: relative;
}

.home{
    width: 85%;
    position: relative;
    padding: 1rem;
    flex-shrink: 0;
}

.home__hero{
    position: relative;
    width: 100%;
    height: 500px;
    
    border-radius: 5px;
    background-size: cover;
    background-image: linear-gradient(to bottom, rgba(110, 197, 255, 0.236), rgba(71, 175, 244, 0.636)), url("../assets/home_assets/james-baltz-zuhouVw4ZkQ-unsplash_wH8HPPq5v.jpg");
}

.home__hero_text{
    position: absolute;
    top: 20%;
    color: #F1F6FE;
    margin-left: 1rem;
}

.home__hero_text h1{
    font-size: 4.5rem;
}

.home__hero_text p{
    font-size: 1.5rem;
}

.home__hero_filter{
    width: 100%;
    height: 7rem;
    padding: 1rem;
    background-color: #F1F6FE;
    position: absolute;
    top: 90%;

    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 10px rgb(221, 221, 221);
}

.home__hero_filter p{
    font-weight: bold;
}


.home__suppliers_info{
    position: relative;
    width: 100%;
    height: 500px;
    margin-top: 5rem;
    padding: 1rem;

    border-radius: 5px;
    box-shadow: 0 2px 10px rgb(221, 221, 221);
}

.home__suppliers_info hr{
    color: #E2EDFC;
    margin-top: 1rem;
}


 