.navbar__container{
    background-color: #367FEE;
    position: relative;
    padding: 1rem;
}

.navbar__features{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__features_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__hamburger-menu{
    cursor: pointer;
}

.navbar__reserva_logo{
    display: none;
    width: 8rem;
}

@media (min-width: 640px) {
    .navbar__reserva_logo{
        display: inline;
    }

    .navbar__hamburger-menu{
        display: none;
    }
}

.navbar__links{
    margin-right: 2rem;
}

.navbar__links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__links ul li{
    list-style: none;
    margin-left: 1.75rem;
}

.navbar__links ul li a{
    text-decoration: none;
    color: #F1F6FE;
}

@media (min-width: 640px) {
    .navbar__links{
        display: inline;
    }
}

.navbar__search_desktop{
    min-width: 100%;
    height: 20px;
    width: 100%;
    display: none;
    background-color: #609AF1;

    padding: 0.25rem;

    border-radius: 3px;
    border-style: none;
}

.navbar__search_desktop::placeholder{
    color: #C5DAFA;
}

@media (min-width: 640px) {
    .navbar__search_desktop{
        display: inline;
    }
}

.navbar__search_mobile{
    height: 1.9rem;
    width: 100%;

    background-color: #609AF1;

    margin-top: 1rem;
    margin-bottom: 0.25rem;

    padding: 0.25rem;

    border-radius: 3px;
    border-style: none;
}

.navbar__search_mobile::placeholder{
    color: #C5DAFA;
}

@media (min-width: 640px) {
    .navbar__search_mobile{
        display: none;
    }
}

.navbar__user-settings{
    color: #F1F6FE;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__user-settings span{
    opacity: .5;
    font-size: small;
}