main{
    display: flex;
    position: relative;

    overflow: hidden;
}

.profile{
    position: relative;
    width: 85%;
}

/* Overview */

.profile_heading{
    position: relative;
    padding: 4rem 2rem 0 2rem;
    height: 250px;
    background-color: white;

    box-shadow: 0 2px 15px  rgb(236, 236, 236);
}

.close {
    position: absolute;
    top: 10%;
    left: 93%;

    display: flex;
    align-items: center;

    text-decoration: none;
}

.heading_company{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.body_info{
    width: 100%;
}

.company_info{
    display: flex;
    align-items: center;
}

.company_info figure img{
    max-width: 5rem;
}

.company_info .info{
    margin-left: 1rem;
}

.heading_company .heading_actions button{
    background-color: #FFFFFF;
    padding: .5rem 1rem .5rem 1rem;
    border: 3px solid #2273EC;
    border-radius: 5px;

    color: #2273EC;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;

    transition: all .2s ease-in;
}

.heading_company .heading_actions button:hover{
    background-color: #F1F6FE;
}

.heading_tabs{
    position: absolute;
    top: 90%;
}

.heading_tabs a{
    position: relative;
    margin-right: 2.5rem;
    text-decoration: none;
    font-weight: 500;
    color: #616161;

    transition: all .5s ease-in-out;
}

.heading_tabs a:focus{
    color: #2273EC;
}

.heading_tabs a:focus::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    background-color: #2273EC;

    border-radius: 2px 2px 0px 0;
}

.heading_tabs a:nth-child(1){
    color: #2273EC;
}

.heading_tabs a:nth-child(1)::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    background-color: #2273EC;

    border-radius: 2px 2px 0px 0;
}

.heading_tabs a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    background-color: #61616145;

    border-radius: 2px 2px 0px 0;
}


.profile_info_container{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4rem 2rem 4rem 2rem;
}

.profile_info_container p{
    max-width: 80ch;
    margin-top: 1rem;
}

.container_first_column{
    width: 100%;
}

.field{
    margin-top: 3rem;
}

.field h2{
    margin-bottom: 1rem;
}

.info_location img{
    width: 80%;
}

.info_action button{
    background-color: #FFFFFF;
    padding: .5rem 1rem .5rem 1rem;
    border: 3px solid #2273EC;
    border-radius: 5px;

    color: #2273EC;
    font-weight: 500;
    font-size: 1rem;

    cursor: pointer;
    transition: all .2s ease-in;
}

.info_action button:hover{
    background-color: #F1F6FE;
}


/* Products section */

.description_card{
    position: relative;
    padding: 2rem;
    margin-top: 2rem;
    background-color: white;
    box-shadow: 0 2px 15px  rgb(236, 236, 236);

    width: 40%;
}

.description_card hr{
    border-style: dashed;
}

.product_badges{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.product_badges p{
    padding: .5rem 1rem .5rem 1rem;
    background-color: #C5DAFA;
    border-radius: 2px;
}

.card_field{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;
}

.card_field img{
    max-width: 4em;
}


/* Company details card */

.company_details{
    width: 25%;
    max-height: 550px;
    padding: 2rem;

    background-color: white;

    box-shadow: 0 2px 15px  rgb(236, 236, 236);
    border-radius: 5px;
}

.company_details hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.company_details .details_field{
    margin-bottom: 1.5rem;
}

.company_details .details_field p{
    opacity: .7;
}

.company_details .details_field h3{
    margin-top: .5rem;
}