main{
    display: flex;
    position: relative;

    overflow: hidden;
}

.profile_edit{
    position: relative;
    width: 85%;
}

.profile_heading{
    position: relative;
    padding: 2rem 2rem 0 2rem;
    height: 250px;
    background-color: white;

    box-shadow: 0 2px 15px  rgb(236, 236, 236);
}

.heading_tabs{
    position: absolute;
    top: 90%;
}


.heading_tabs a{
    position: relative;
    margin-right: 2.5rem;
    text-decoration: none;
    font-weight: 500;
    color: #616161;

    transition: all .5s ease-in-out;
}

.heading_tabs a:focus{
    color: #2273EC;
}

.heading_tabs a:focus::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    background-color: #2273EC;

    border-radius: 2px 2px 0px 0;
}

.heading_tabs a:nth-child(1){
    color: #2273EC;
}

.heading_tabs a:nth-child(1)::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    background-color: #2273EC;

    border-radius: 2px 2px 0px 0;
}

.heading_tabs a::after{
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 4px;
    background-color: #61616145;

    border-radius: 2px 2px 0px 0;
}


/* Fields */

.profile_edit_fields{
    width: 100%;
    padding: 4rem 2rem 4rem 2rem;
    display: flex;
    justify-content: space-between;
}

.features_first_column{
    width: 90%;
}

.features_second_column{
    width: 90%;

    display: flex;
    justify-content: space-between;
}



.feature_field{
    position: relative;
    width: 90%;
}

.field_head{
    width: 90%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}



.field_decor{
    cursor: pointer;
}

.decor{
    width: 90%;
    height: 10px;
    background-color: #E2EDFC;
    border-radius: 5px;

    margin-top: .5rem;
}

.field_decor2{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 1rem;
}

.decor2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 200px;
    background-color: #E2EDFC;

    border-radius: 5px;

    cursor: pointer;
}

.decor2 p{
    color: #2273EC;
    font-weight: 500;
}

.decor3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #E2EDFC;

    border-radius: 5px;

    cursor: pointer;
}

.decor3 p{
    color: #2273EC;
    font-weight: 500;
}

/* Products tab */

.description_card{
    position: relative;
    padding: 2rem;
    margin-top: 2rem;
    background-color: white;
    box-shadow: 0 2px 15px  rgb(236, 236, 236);

    width: 40%;
}

.description_card hr{
    border-style: dashed;
}

.product_badges{
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.product_badges p{
    padding: .5rem 1rem .5rem 1rem;
    background-color: #C5DAFA;
    border-radius: 2px;
}

.card_field{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem;
}

.card_field img{
    max-width: 4em;
}




/* second column */

.field_logo{
    width: 40%;
    max-height: 550px;
    padding: 2rem;

    background-color: white;

    box-shadow: 0 2px 15px  rgb(236, 236, 236);
    border-radius: 5px; 
}

.field_logo hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.field_logo_heading{
    display: flex;
    justify-content: space-between;
}

.field_logo_decor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: #E2EDFC;

    border-radius: 5px;

    cursor: pointer;
}

.company_details{
    width: 40%;
    max-height: 550px;
    padding: 2rem;

    background-color: white;

    box-shadow: 0 2px 15px  rgb(236, 236, 236);
    border-radius: 5px;
}

.company_details .field_heading{
    display: flex;
    justify-content: space-between;
}

.company_details hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.company_details .details_field{
    margin-bottom: 1.5rem;
}

.company_details .details_field p{
    opacity: .7;
}

.company_details .details_field h3{
    margin-top: .5rem;
}